.summary {
  text-align: center;
  width: 80%;
  margin: auto;
  background-color: rgb(70, 25, 113);
  border-radius: 15px;
  padding: 0.5rem;
  color: white;
  margin-top: -5rem;
  position: relative;
}
