.cartbutton {
  border: none;
  cursor: pointer;
  padding: 0.75rem 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  background-color: rgb(70, 25, 113);
  border-radius: 20px;
}

.icon {
  width: 1.35rem;
  height: 1.35rem;
  margin-right: 0.5rem;
}

.badge {
  margin-left: 0.5rem;
  background-color: blueviolet;
  padding: 0.25rem 1rem;
  border-radius: 20px;
}

.bump {
  animation: bump 300ms ease-out;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@media screen and (max-width: 720px) {
  .cartbutton {
    padding: 0.5rem 1.25rem;
    border-radius: 10px;
  }
}
